@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 18px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --form-background-image: url("https://i.pinimg.com/564x/f9/b4/62/f9b4620b4090c6fbb9694f6eabb5d823.jpg");
  --form-box-background-rgba: 255, 255, 255, 0.85;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --form-background-image: linear-gradient(90deg, rgb(33, 33, 33) 0%, transparent 59%), repeating-linear-gradient(45deg, rgba(168, 168, 168, 0.1) 0px, rgba(168, 168, 168, 0.1) 1px, transparent 1px, transparent 13px), repeating-linear-gradient(135deg, rgba(168, 168, 168, 0.1) 0px, rgba(168, 168, 168, 0.1) 1px, transparent 1px, transparent 13px), linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
    --form-box-background-rgba: 0, 0, 0, 0.4;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.registerForm {
  color: rgb(var(--foreground-rgb));
  background-image: var(--form-background-image);
  background-size: cover;
  background-position: right top;
}

.registerForm>div {
  margin: 10px;
  border-radius: 5px;
  background: rgba(var(--form-box-background-rgba));
}

.registerForm label {}

.registerForm input {
  border: 2px solid;
  border-color: rgb(var(--foreground-rgb));
  border-radius: 10px;
}

.registerForm input::placeholder {
  /* color: black; */
}


.registerForm button {
  margin-top: 40px;
  background: rgb(218, 165, 32);
}